<% include head.ejs %>
<h1>Profile</h1> <a href="/logout"> <button>Logout</button> </a>


<% if (user.local.email || user.local.username) {%>
<h3>Username: <%= user.local.username %></h3>
<a href="/remove/local">Remove Email</a>
<% } else { %>
<br>
<a href="/connect/local">Connect Your Email and Username</a>
<% } %>

<% if (user.facebook.token)  {%>
<h3>Facebook: <%= user.facebook.name %></h3>
<a href="/remove/facebook">Remove Facebook</a>
<% } else { %>
<br>
<a href="/connect/facebook">Connect Your facebook</a>
<% } %>

<% if (user.google.token)  {%>
<h3>Google Name: <%= user.google.name %></h3>
<a href="/remove/google">Remove Gmail</a>
<% } else { %>
<br>
<a href="/connect/google">Connect Your Gmail </a>
<% } %>