<form class="col s12" action="/submit/<%= encodeURIComponent('https://www.') + encodeURIComponent(url) %>" method="post">
    <div class="row">
        <div class="input-field col">
                        <textarea rows="100" cols="100" name="comment">
</textarea>
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="button">Submit
        <i class="material-icons right"></i>
    </button>
</form>