<% include head.ejs %>
<% include nav_loggedin_home.ejs %>

<div class="container">
<div class="url-heading"> <%= url %> </div>
<div class="url-wrap">
    <img src="//image.thum.io/get/https://www.<%= String (url) %>/" />

</div>

<div class="comment-wrap">
    <% if (login === true){ %>
    <% include comment_form.ejs %>
    <% } %>
    <%if( comments === null){ %>
    <p>No comments</p>
    <%}else {%>
    <table class="responsive-table highlight">
        <thead>
        <tr>
            <th class="table-head">
            </th>
        </tr>
        </thead>
        <tbody>
    <% for(i = 0; i < comments.length; i++) { %>
    <% let userName %>
    <%if(comments[i].user.user.local.username) {%>
    <% userName = comments[i].user.user.local.username %>
    <%} else if(comments[i].user.user.google.id) {%>
    <% userName = comments[i].user.user.google.name %>
    <%} else if(comments[i].user.user.facebook.id) {%>
    <% userName = comments[i].user.user.facebook.name %>
    <%}%>
    <tr>
        <td><span class="username"><%- userName %> said: </span><br><span class="main-comment"><%- comments[i].comment %>
                <br>
            </span>

        </td>
    </tr>
    <%}%>
    <%}%>
        </tbody>
    </table>
</div>
</div>
