<div class="gradient-wrap" >
            <div class="home-tag home-search-bar">
                <img src="./../mouth.svg" alt="" class="filter-white main-logo">
                <h1 class="main-title"><span class="nav-title-text">RemarkedOn</span></h1>
                <h4><%- title %></h4>
            <% include site_search.ejs %>
            <h4>Copy in any URL to search for a comment page.</h4>
            <h4>Sign-up to leave a comment.</h4>
            </div>
</div>