<% include head.ejs %>
<% if (loginState === true) {%>
<body>
<% include nav_loggedin_home.ejs %>
<%include gradient_search.ejs%>
<% } else{ %>
<body>
<div class="full-wrap">
<div class="row" >
    <div class="col s12 m8" style="padding:0; margin: 0 auto" >
        <div class="gradient">
        <%include gradient_search.ejs%>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="login-wrapper">
        <h3>Login</h3>
        <% include login.ejs%>
        or <br>
            <div class="btn-wrap">
        <a href="/signup">
            <button class="btn waves-effect waves-light"  name="signup-link">Sign Up
                <i class="material-icons right"></i>
            </button></a>
            </div>
        </div>
    </div>
</div>
</div>
<% } %>
<%include footer.ejs%>
</body>
</html>
