
<link rel="stylesheet" href="/stylesheets/searchbar.css">
  <div class="navbar">
    <nav class="">
        <a href="#" data-activates="mobile-demo" id="menu-button" class="button-collapse"><i class="fas fa-bars fa-7x"></i></a>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo hide-on-med-and-down">Open Comments</a>
        <ul class="right">
            <form action="/find/webUrl/webUrl">
                    <div class="wrap">
                        <div class="search input-field">
                          <li class="input-li">  <input type="text" id="webUrl" class="" name="webUrl" placeholder="What are you looking for?"></li>
                           <li> <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form></li>
        </ul>
       <ul id="side-nav-links" class="right hide-on-med-and-down">
            <li><a class="modal-trigger" id="signupModal" href="#">Signup</a></li>
            <li><a class="modal-trigger" id="LoginModal" href="#">Login</a></li>
        </ul>
    </div>

</nav>
  </div>
<ul class="side-nav" id="mobile-demo">
    <li><a class=""  href="/signup">Signup</a></li>
    <li><a class=""  href="/login">Login</a></li>
</ul>

<!-- Modal Structure -->

<!-- The Modal -->
<div id="Signup" class=" modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <% include signup.ejs %>
    </div>

</div>

<div id="Login" class="modal LoginModal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close_1">&times;</span>
        <% include login.ejs %>
    </div>

</div>
