<link rel="stylesheet" href="/stylesheets/searchbar.css">
<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Open Comments</a>

        <ul class="right hide-on-med-and-down">
            <form action="/find/webUrl/webUrl">
                <div class="wrap">
                    <div class="search input-field">
                        <li class="input-li">  <input type="text" id="webUrl" class="" name="webUrl" placeholder="What are you looking for?"></li>
                        <li> <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                            </button>
                    </div>
                </div>
            </form></li>
            <li><a class="" id="profile_button" href="/profile">Profile</a></li>
            <li><a class="" id="logout_button" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>






