<% include head.ejs %>
<div class="row">
    <div class="">
        <a href="/">Back</a>
        <form class="col s12" action="/reset/<%- token %>" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password_conf" type="password" class="validate" name="password_conf">
                    <label for="password_conf">Confirm Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="button">Submit
                <i class="material-icons right"></i>
            </button>
        </form>
    </div>
</div>